body {
    background-image: url("../assets/fond.png");
    background-size: cover;
}

.form-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(128, 128, 128);
    max-width: 50%;
}

.lastName-container {
    display: flex;
    flex-direction: row;
}

.firstName-container {
    display: flex;
    flex-direction: row;
}

.dateOfBirth-container {
    display: flex;
    flex-direction: row;
}

.email-container {
    display: flex;
    flex-direction: row;
}

.secretCode-container {
    display: flex;
    flex-direction: row;
}

.name {
    width: 33%;
}

.input {
    width: 33%;
    height: 50px;
}

.alert {
    width: 33%;
}